Repository Fabio-Morais/Money-Clinic, pull requests merged in 2022-03, with the labels that each got.

#48 Add crypto page and update package
  .eslintrc
  package.json
  src/assets/scss/_themes-vars.module.scss
  src/themes/compStyleOverride.js
  src/themes/index.js
  src/views/wallet/Crypto/DataGridWallet/DataGridWallet.js
  src/views/wallet/Crypto/DataGridWallet/Events/onClickAdd.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/commonDesign.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/getColumnsConfiguration.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderAction.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderAvatarText.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderHolding.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderProfit.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderVar.js
  src/views/wallet/Crypto/index.js
  yarn.lock
Labels: merge, Review me

#53 Add the top side of expenses page
  src/assets/scss/_themes-vars.module.scss
  src/themes/palette.js
  src/ui-component/profitBadget.js
  src/views/wallet/Crypto/BalanceOptionsWallet/BalanceOptions.js
  src/views/wallet/Crypto/BalanceOptionsWallet/CurrentBalance.js
  src/views/wallet/Crypto/BalanceOptionsWallet/Options.js
  src/views/wallet/Crypto/index.js
Labels: merge, Review me, Wallet-Page

#55 Add the dialog for add coin
  src/themes/compStyleOverride.js
  src/views/wallet/Crypto/BalanceOptionsWallet/BalanceOptions.js
  src/views/wallet/Crypto/BalanceOptionsWallet/Dialogs/AddCoinDialog.js
  src/views/wallet/Crypto/BalanceOptionsWallet/Options.js
Labels: merge, Review me, Page-Wallet

#49 Update expenses page
  README.md
  src/menu-items/expenses.js
  src/routes/MainRoutes.js
  src/views/expensesgroup/addexpense/BudgetCard.js
  src/views/expensesgroup/addexpense/index.js
Labels: merge, Review me, Page-Expenses

#62 Update ProfileSection
  src/layout/MainLayout/Header/ProfileSection/index.js
Labels: merge, Review me

#63 Change to redux toolkit
  .eslintrc
  package.json
  src/index.js
  src/layout/Customization/index.js
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.js
  src/layout/MainLayout/index.js
  src/store/actions.js
  src/store/constant.js
  src/store/customizationReducer.js
  src/store/customizationSlice.js
  src/store/index.js
  src/store/reducer.js
  src/views/expensesgroup/expenses/index.js
  yarn.lock
Labels: merge, Review me

#65 Add the transaction dialog
  src/views/wallet/Common/Dialogs/AddTransactionDialog.js
  src/views/wallet/Common/Events/SwitchPriceToTotal.js
  src/views/wallet/Crypto/BalanceOptionsWallet/CurrentBalance.js
  src/views/wallet/Crypto/BalanceOptionsWallet/Dialogs/AddCoinDialog.js
  src/views/wallet/Crypto/DataGridWallet/DataGridWallet.js
  src/views/wallet/Crypto/DataGridWallet/Events/onClickAdd.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/getColumnsConfiguration.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderAction.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderHolding.js
  src/views/wallet/Crypto/DataGridWallet/Helpers/renderProfit.js
Labels: merge, Review me, Page-Wallet

#71 Clean some code and dependencies
  package.json
  src/assets/scss/_themes-vars.module.scss
  src/components/wallet/Common/Dialogs/AddTransactionDialog.js
  src/components/wallet/Common/profitBadget.js
  src/components/wallet/crypto/BalanceOptionsWallet/BalanceOptions.js
  src/components/wallet/crypto/BalanceOptionsWallet/CurrentBalance.js
  src/components/wallet/crypto/BalanceOptionsWallet/Dialogs/AddCoinDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/components/wallet/crypto/DataGridWallet/DataGridWallet.js
  src/components/wallet/crypto/DataGridWallet/Helpers/commonDesign.js
  src/components/wallet/crypto/DataGridWallet/Helpers/getColumnsConfiguration.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderAction.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderAvatarText.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderHolding.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderProfit.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderVar.js
  src/layout/MinimalLayout/index.js
  src/menu-items/index.js
  src/menu-items/other.js
  src/routes/MainRoutes.js
  src/themes/palette.js
  src/utils/wallet/common/SwitchPriceToTotal.js
  src/views/dashboard/Default/BajajAreaChartCard.js
  src/views/dashboard/Default/EarningCard.js
  src/views/dashboard/Default/PopularCard.js
  src/views/dashboard/Default/TotalGrowthBarChart.js
  src/views/dashboard/Default/TotalIncomeDarkCard.js
  src/views/dashboard/Default/TotalIncomeLightCard.js
  src/views/dashboard/Default/TotalOrderLineChartCard.js
  src/views/dashboard/Default/chart-data/bajaj-area-chart.js
  src/views/dashboard/Default/chart-data/total-growth-bar-chart.js
  src/views/dashboard/Default/chart-data/total-order-month-line-chart.js
  src/views/dashboard/Default/chart-data/total-order-year-line-chart.js
  src/views/dashboard/Default/index.js
  src/views/sample-page/EarningCard.js
  src/views/sample-page/index.js
  src/views/wallet/Crypto/index.js
  yarn.lock
Labels: merge, Review me, Refactor

#67 Improve Add expense page
  src/ui-component/extended/Breadcrumbs.js
  src/views/expensesgroup/addexpense/BudgetCard.js
  src/views/expensesgroup/addexpense/Dialogs/AddBudgetDialog.js
  src/views/expensesgroup/addexpense/Dialogs/AddExpenseDialog.js
  src/views/expensesgroup/addexpense/index.js
Labels: merge, Review me, Page-Expenses

#72 Add the transaction dialog when the user add a new coin
  src/components/wallet/Common/Dialogs/AddTransactionDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/BalanceOptions.js
  src/components/wallet/crypto/BalanceOptionsWallet/Dialogs/AddCoinDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/fakeData/coins.js
  src/views/wallet/Crypto/index.js
Labels: merge, Review me, Page-Wallet

#75 Add the new page that shows the transactions
  src/components/wallet/Common/Dialogs/AddCoinDialog.js
  src/components/wallet/Common/Dialogs/ConfirmationDialogDelete.js
  src/components/wallet/Common/Dialogs/ViewTransaction.js
  src/components/wallet/crypto/BalanceOptionsWallet/BalanceOptions.js
  src/components/wallet/crypto/BalanceOptionsWallet/CurrentBalance.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/components/wallet/crypto/DataGridWallet/DataGridWallet.js
  src/components/wallet/crypto/DataGridWallet/Helpers/getColumnsConfiguration.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderAction.js
  src/components/wallet/crypto/Transactions/BackButton.js
  src/components/wallet/crypto/Transactions/BalanceOptionsTransactions.js
  src/components/wallet/crypto/Transactions/DataGridTransaction.js
  src/components/wallet/crypto/Transactions/Helpers/commonDesign.js
  src/components/wallet/crypto/Transactions/Helpers/getColumnsConfiguration.js
  src/components/wallet/crypto/Transactions/Helpers/renderAction.js
  src/components/wallet/crypto/Transactions/Helpers/renderAvatarText.js
  src/components/wallet/crypto/Transactions/Helpers/renderDate.js
  src/components/wallet/crypto/Transactions/Helpers/renderHolding.js
  src/components/wallet/crypto/Transactions/Options.js
  src/fakeData/coins.js
  src/fakeData/transactionCoins.js
  src/views/wallet/Crypto/index.js
Labels: merge, Review me, Page-Wallet

#84 Add transaction with specific width, causing problems on mobile
  src/components/wallet/Common/Dialogs/AddCoinDialog.js
  src/components/wallet/Common/Dialogs/AddTransactionDialog.js
Labels: bug, merge, Page-Wallet

#83 [Issue 82] - When delete button is pressed the dialog "view transaction" is open
  src/components/wallet/crypto/Transactions/DataGridTransaction.js
Labels: bug, merge, Page-Wallet

#76 Improve add budget/expenses dialogs
  src/fakeData/dataBudgets.js
  src/views/expensesgroup/addexpense/BudgetCard.js
  src/views/expensesgroup/addexpense/BudgetCardWrapper.js
  src/views/expensesgroup/addexpense/Dialogs/AddBudgetDialog.js
  src/views/expensesgroup/addexpense/Dialogs/AddExpenseDialog.js
  src/views/expensesgroup/addexpense/index.js
  src/views/expensesgroup/expenses/BajajAreaChartCard.js
  src/views/expensesgroup/expenses/EarningCard.js
  src/views/expensesgroup/expenses/PopularCard.js
  src/views/expensesgroup/expenses/TotalGrowthBarChart.js
  src/views/expensesgroup/expenses/TotalIncomeDarkCard.js
  src/views/expensesgroup/expenses/TotalIncomeLightCard.js
  src/views/expensesgroup/expenses/TotalOrderLineChartCard.js
  src/views/expensesgroup/expenses/chart-data/bajaj-area-chart.js
  src/views/expensesgroup/expenses/chart-data/total-growth-bar-chart.js
  src/views/expensesgroup/expenses/chart-data/total-order-month-line-chart.js
  src/views/expensesgroup/expenses/chart-data/total-order-year-line-chart.js
  src/views/expensesgroup/expenses/index.js
Labels: merge, Review me, Page-Expenses

#91 Add the portfolio edit dialog
  src/components/wallet/Common/Dialogs/EditPortfolioDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/BalanceOptions.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/views/wallet/Crypto/index.js
Labels: merge, Review me, Page-Wallet

#87 Improve the view transaction dialog
  src/components/wallet/Common/Dialogs/ViewTransaction.js
Labels: merge, Page-Wallet

#89 Add coin functionality
  src/components/wallet/Common/Dialogs/AddTransactionDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/BalanceOptions.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/components/wallet/crypto/DataGridWallet/DataGridWallet.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderAction.js
  src/views/wallet/Crypto/index.js
Labels: merge, Review me, Page-Wallet

#92 Add the edit transaction dialog
  src/components/wallet/Common/Dialogs/AddEditTransactionDialog.js
  src/components/wallet/crypto/BalanceOptionsWallet/Options.js
  src/components/wallet/crypto/DataGridWallet/Helpers/renderAction.js
  src/components/wallet/crypto/Transactions/Helpers/getColumnsConfiguration.js
  src/components/wallet/crypto/Transactions/Helpers/renderAction.js
  src/components/wallet/crypto/Transactions/Options.js
Labels: merge, Review me, Page-Wallet
